
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>

    <!-- Css -->
    <!-- bootstrap.min -->
    <link href="~/Sure.JavaScript/Sure.Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- font-awesome.min -->
    <link href="~/Sure.JavaScript/Sure.Web/css/font-awesome.min.css" rel="stylesheet" />
    <!-- animate.min -->
    <link href="~/Sure.JavaScript/Sure.Web/css/animate.min.css" rel="stylesheet" />
    <!-- style.min -->
    <link href="~/Sure.JavaScript/Sure.Web/css/style.min.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold"> 服务器内部错误 </h3>
        <div class="error-desc">
            服务器好像出错了,您可以返回主页看看
            <br /><a href="/Default/Default" class="btn btn-primary m-t">主页</a>
        </div>
    </div>
    <!-- Jquery -->
    <script type="text/javascript" src="~/Sure.JavaScript/Sure.Jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Sure.JavaScript/Sure.Bootstrap/bootstrap.min.js"></script>
</body>
</html>
